@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background-color: #323232;
}

*{
    color: white;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.font-light {
    font-weight: 300;
}
/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 2px; /* Thickness */
}

::-webkit-scrollbar-thumb {
  background-color: #89D9F2; /* Thumb color */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-track {
  background-color: #222729; /* Track color */
}

.loader {
  width: 24px;
  height: 24px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 